.navbar{
    position: absolute;
    right: 50px;
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
    }

.navbar {
  background-color: lightblue;
  }
.navbar-nav{
    border: 1px solid lightblue;
    width: 100px;
    transition-duration: 0.4s;
    border-radius: 12px;
}

.navbar-nav:hover {
  background-color: green;
  color: white;
}

.divtop{
  background-color: lightblue;
  z-index:2;}

.homebutton{
  background-color: lightblue;
  z-index:2;}

.homebutton a{
  width: 250px;
  background: green;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  padding: 14px;
  margin: 0px 0px 0px 40px;}

.dropdown-menu {
  position: absolute;
  background-color: white;
  float: right;
}

.dataframe{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background-color: lightblue;
  color: black
 }

h1{
  text-align:center;
  font-size: 37px;
  font-family: Georgia, 'Times New Roman';
  color: black;}